<div class="contenedorPrincipal" >
    <div class="contenedor">
        <div class="codigoConfirmacion">
            <h1>VERIFICACIÓN DE IDENTIDAD</h1>
            <h2>
                Se ha enviado un código de verificación a su Email.
                Ingreselo a continuación para continuar con el proceso de registro.
            </h2>
            <input type="text" formControlName="verificacion" placeholder="Ingresa tu código de verificación" />
            <button type="button" class="btnVerificar">Verificar</button>
        </div>    

    </div>

</div>
