<div class="containerPrincipal">
  <div class="recuperar-content">
    <div class="logo-container">
      <img src= "LogoShieldUQ.png"  class="shield-logo" />
    </div>

    <div class="titulo">Recuperar contraseña</div>

    <div class="instrucciones">
      Por favor, ingresa el correo electrónico con el que te registraste para restablecer tu contraseña
    </div>

    <div class="form-group">
      <div class="label">Email</div>
      <div class="input-box" contenteditable="true" placeholder="shield@email.com"></div>
    </div>

    <div class="recuperar-btn">Recuperar</div>
  </div>
</div>
