<form [formGroup]="passRecForm">
<div class="containerPrincipal">
  <div class="recuperar-content">
    <div class="logo-container">
      <img src= "LogoShieldUQ.png"  class="shield-logo" />
    </div>

    <div class="titulo">Recuperar contraseña</div>

    <div class="instrucciones">
      Por favor, ingresa el correo electrónico con el que te registraste para restablecer tu contraseña
    </div>

    <div class="form-group">
      <div class="label">Email</div>
      <input type="text" formControlName="email" placeholder="shield@email.com" />
    </div>

    <div class="recuperar-btn" (click)="recuperar()">Recuperar</div>

    <div *ngIf="mensaje" class="mensaje-ok">{{ mensaje }}</div>
    <div *ngIf="error" class="mensaje-error">{{ error }}</div>
  </div>
</div>
</form>
