<div class="profile-container">
    <div class="sidebar">
        <img src="https://via.placeholder.com/100" alt="Foto de perfil" class="profile-image">

        <button class="btn edit" (click)="goToEdit()">
        <i class="icon">✏️</i>  Editar perfil
        </button>

        <button class="btn reports" (click)="goToMyReports()">
        <i class="icon">📄</i> Mis reportes
        </button>

        <button class="btn delete" (click)="deleteAccount()">
        <i class="icon">❌</i> Eliminar cuenta
        </button>
    </div>

    <div class="profile-info">
    
        <h2>Información del usuario</h2>

        <div class="info-row">
            <label>Nombre del usuario:</label>
            <span>{{user.name}}</span>
        </div>

        <div class="info-row">
            <label>Email:</label>
            <span>{{user.email}}</span>
        </div>

        <div class="info-row">
            <label>Teléfono:</label>
            <span>{{user.phone}}</span>
        </div>

        <div class="info-row" >
            <label>Ciudad:</label>
            <span>{{user.municipality}}</span>
        </div>

        <div class="info-row">
            <label>Dirección:</label>
            <span>{{user.address}}</span>
        </div>

        <div class="info-row">
            <label>Contraseña:</label>
            <span>**********</span>
        </div>
    </div>

</div>

