<div class="containerPrincipal">
  <div class="login-page">
    <div class="logo-container">
      <img src="LogoShieldUQ.png" alt="Escudo Shield UQ" class="logo" />
    </div>

    <div class="titulo">
      <h1>INICIO DE SESIÓN</h1>
    </div>

    <div class="subtexto-centrado">
      <p>Inicia sesión con tu cuenta de <strong>SHIELD UQ</strong></p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="formulario">
      <div class="campo">
        <label>Email</label>
        <input type="text" placeholder="shield@email.com" formControlName="email" />
      </div>

      <div class="campo">
        <label>Password</label>
        <input type="password" placeholder="Ingresa tu password" formControlName="password" />
      </div>

      <div class="recuperar">
        <a href="#" class="enlace">Recuperar contraseña</a>
      </div>

      <div class="boton-ingresar">
        <button type="submit">Ingresar</button>
      </div>
    </form>
  </div>
</div>