<div class="containerPrincipal">
  
  <div class="login-page">
    <div class="logo-container">
      <img src="image.png" alt="Admin" class="logo" />
    </div>

    <div class="back-button-container">
      <a href="/inicio" class="back-button">
        <i class="fas fa-arrow-left"></i> Volver al inicio
      </a>
    </div>

    <div class="titulo">
      <h1>BIENVENIDO ADMINISTRADOR</h1>
    </div>

    <div class="subtexto-centrado">
      <p>Inicia con tus credenciales <strong>SHIELD UQ</strong></p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="formulario">
      <div class="campo">
        <label>Email</label>
        <input type="text" placeholder="shield@email.com" formControlName="email" />
      </div>

      <div class="campo">
        <label>Password</label>
        <input type="password" placeholder="Ingresa tu password" formControlName="password" />
      </div>

      <div class="boton-ingresar">
        <button type="submit">Ingresar</button>
      </div>
    </form>
  </div>
</div>