<header class="header">
  <div class="header-container">
    <a routerLink="/principal-usuario" class="logo">
      <img src="ShieldMinimalista.png" alt="Logo Shield UQ" class="logo-img" />
      <span class="logo-title">{{ title }}</span>
    </a>

    <nav class="nav-menu">
      <a routerLink="/principal-usuario" class="nav-link">Inicio</a>
  
      <a routerLink="/perfil" class="nav-link">Perfil</a>
      <a routerLink="/crear-reporte" class="nav-link">Crear reporte</a>
      <a routerLink="/reportes-usuario" class="nav-link">Mis reportes</a>
      <a routerLink="/login" class="nav-link">Cerrar sesión</a>
    </nav>
  </div>
</header>