<div class="inicio-container"> 
    <div class="contenedorPrincipal">
        <div class="contenedorBotones">
            <button type="button" class="btnInicio">Inicio</button>
            <button type="button" class="btnRegistrarse">Registrarse</button>
        </div>
            <div>
                <img src="LogoShieldUQ.png" class="logo"/>
                <h1>Bienvenido a Shield UQ</h1>
                <p>
                Shield UQ es una plataforma donde la ciudadanía puede reportar robos, mascotas perdidas, incendios 
                u otros sucesos importantes para la comunidad. Juntos, hacemos de nuestro entorno un lugar más seguro y solidario.
                </p>
            </div>
    </div>
  <!-- El ID aquí debe coincidir con el container que usas en TypeScript -->
  <div id="mapa" class="mapa"></div>
</div>