body {
  background-color: #121212; 
  color: #ffffff; /* color de texto blanco */
  margin: 0;
  font-family: Arial, sans-serif;
}

h1{
  color: #fcff31;
  font-family:  'Poppins', sans-serif;
 }

h2{
  color: #FF6A00 ;
  text-align: center;
   margin-top: 1.5rem; /* mantiene espacio con respecto a la imagen */
}

.logo {
  width: 250px;
  height: auto;
  object-fit: contain; /* asegura que no se distorsione */
  display: block;
  margin: 0 auto;
}

p{
  text-align: center;
}

.login{
  background: linear-gradient(to bottom, #FFD700, #FF8C00); /* degradado amarillo a naranja */
  color: black; /* color del texto */
  font-weight: bold; /* texto en negrita */
  padding: 12px 24px; /* espacio interno */
  border: none; /* sin borde */
  border-radius: 30px; /* bordes redondeados */
  cursor: pointer; /* cursor tipo mano */
  font-family: 'Roboto', sans-serif; /* tipografía */
  font-size: 16px; /* tamaño de letra */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* sombra opcional */
  transition: transform 0.2s ease;
}

.registro{
  background: linear-gradient(to bottom, #FFD700, #FF8C00); 
  color: black; 
  font-weight: bold; 
  padding: 12px 24px; 
  border: none; 
  border-radius: 30px; 
  cursor: pointer; 
  font-family: 'Roboto', sans-serif; 
  font-size: 16px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  transition: transform 0.2s ease;
}

.barraInicio{
  background-color: #4a4a4a; /* Gris oscuro */
  height: 60px;              /* Altura de la barra */
  width: 100%;               /* Ocupa todo el ancho */
  display: flex;
  align-items: center;       /* Centra verticalmente */
  justify-content: space-between; /* Distribuye contenido si lo hubiera */
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.headerIzquierda {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerDerecha {
  display: flex;
  gap: 20px;
}

.contenedorPrincipla{
  margin-top: 200px; /* Aquí puedes ajustar según tu preferencia */
  text-align: center;
  padding: 200px;
}

nav {
  margin-bottom: 50px;
  
}

#mapa {
 width: 100vw;
 height: 100vh;
}
