<div class="inicio-container">

    <nav class="barraInicio">
        <div class="headerIzquierda">
            <h1>Shield UQ</h1>
           
        </div>
        
        <div class="headerDerecha">
            <button routerLink="/login"class="login">Login</button> 
            <button routerLink="/registro" class="registro">Registro</button>
        </div>
    </nav>

    <div class = contendorPrincipal>
        
        <img src="LogoShieldUQ.png" class="logo" />
        <h2>Bienvenido a Shield UQ</h2>
        <p>
            Shield UQ es una plataforma donde la ciudadanía puede reportar robos, mascotas perdidas, incendios 
            u otros sucesos importantes para la comunidad. Juntos, hacemos de nuestro entorno un lugar más seguro y solidario.
        </p>

    </div>

    <div id="mapa" ></div>

</div>