
h1{
  color: #FF6A00 ;
  text-align: center;
  margin-top: 1.5rem; /* mantiene espacio con respecto a la imagen */
}

.contenedorBotones{
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px; /* espacio entre botones */
}

.btnInicio{
  background: linear-gradient(to bottom, #fcea0d, #ff7a00);
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
  
}

.btnInicio:hover{
  background: linear-gradient(to bottom, #a09300, #974700);
  color: #a7a7a7;
}

.btnRegistrarse{
  background-color: #02b7ff;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
  
}

.btnRegistrarse:hover{
  background-color: #1b9ed1;
  color: #dbdbdb;
}


.logo {
  width: 250px;
  height: auto;
  object-fit: contain; /* asegura que no se distorsione */
  display: block;
  margin: 0 auto;
}

p{
  text-align: center;
}

.contenedorPrincipal {
  margin-top: 100px;
  text-align: center;
  padding: 40px;
}

nav {
  margin-bottom: 50px;
  
}

.mapa {
  width: 90%; /* en lugar de 100%, para que no ocupe todo el ancho */
  height: 500px;
  margin: 30px auto; /* centrado + espacio arriba y abajo */
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1); /* opcional, da efecto de profundidad */
}