
h1{
  color: #FF6A00 ;
  text-align: center;
  margin-top: 1.5rem; /* mantiene espacio con respecto a la imagen */
}

.contenedorBotones{
  position: absolute;
  top: -60px;
  right: 20px;
  display: flex;
  gap: 10px; /* espacio entre botones */
  margin-top: 100px;
}

.btnInicio{
  background: linear-gradient(to bottom, #fcea0d, #ff7a00);
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
  
}

.btnInicio:hover{
  background: linear-gradient(to bottom, #a09300, #974700);
  color: #a7a7a7;
}

.btnRegistrarse{
  background-color: #02b7ff;
  font-weight: 500;
  padding: 8px 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
  
}

.btnRegistrarse:hover{
  background-color: #1b9ed1;
  color: #dbdbdb;
}


.logo {
  width: 250px;
  height: auto;
  object-fit: contain; /* asegura que no se distorsione */
  display: block;
  margin: 0 auto;
}

p{
  text-align: center;
}

.contenedorPrincipal {
  margin-top: 0px;
  text-align: center;
  padding: 40px;

}

.inicio-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1b1b1b;
  color: white;
}

nav {
  margin-bottom: 50px;
}

.mapa {
  width: 90%;
  height: 500px;
  margin: 30px auto 80px auto; /* 80px de espacio inferior */
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(255, 230, 0, 0.1);
}

.admin-link {
  position: absolute;
  top: 40px;
  left: 20px;

  background: linear-gradient(to bottom, #fcea0d, #ff7a00);
  padding: 8px 12px;
  border-radius: 6px;
  
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.admin-link:hover {
  background: linear-gradient(to bottom, #a09300, #974700);
  color: #a7a7a7;
}