.contenedorCampoTexto{
    display: flex;
    flex-direction: column; /* Uno debajo del otro */
    align-items: center;     /* Centrado horizontal */
}

.recuperarPassword{
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

.logo{
    width: 350px;
    height: auto;
    object-fit: contain; /* asegura que no se distorsione */
    display: block;
    margin: 0 auto;
}

.btnRestablecer{
    background: linear-gradient(to bottom, #fcea0d, #ff7a00);
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 6px;
    transition: all 0.3s ease;
    right: 20px;   /* distancia desde el borde izquierdo */
}

.btnRestablecer:hover{
  background: linear-gradient(to bottom, #a09300, #974700);
  color: #a7a7a7;
}
