.contenedorPrincipal {
    background-color: #1b1b1b;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
}

.contenedor {
    background-color: #2c2c2c; /* un gris más claro para diferenciar */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    gap: 20px; /* espacio entre elementos */
}

.contenedorCampoTexto{
    display: flex;
    flex-direction: column; /* Uno debajo del otro */
    align-items: center;     /* Centrado horizontal */
}

.recuperarPassword{
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

.logo{
    width: 250px;
    height: auto;
    object-fit: contain; /* asegura que no se distorsione */
    display: block;
    margin: 0 auto;
}

.btnRestablecer{
    background: linear-gradient(to bottom, #fcea0d, #ff7a00);
    font-weight: 500;
    padding: 10px 30px;
    border-radius: 6px;
    transition: all 0.3s ease;
    align-self: center;
    border: none;
    cursor: pointer;
}

.btnRestablecer:hover{
  background: linear-gradient(to bottom, #a09300, #974700);
  color: #a7a7a7;
}

h1{
    color:#ff7a00; 
    text-align: center;
}

input[type="text"] {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    width: 100%;
    max-width: 300px;
    margin-top: 4px;
    margin-bottom: 12px;
}

.contenedorCampoTexto input[type="text"] {
    border: 2px solid #fcea0d; /* borde amarillo */
    border-radius: 6px;
    padding: 8px;
    width: 220px; /* o el valor que usas */
    background-color: white;
    color: black;
}

.contenedorCampoTexto input[type="text"]:focus {
    outline: none;
    border-color: #ff7a00; /* más fuerte al enfocar */
    box-shadow: 0 0 5px #ff7a00;
}
