<form [formGroup]="newPassForm" novalidate>
<div class="contenedorPrincipal">
  <div class="contenedor">
    <div class="recuperarPassword">
      <img src="LogoShieldUQ.png" class="logo"/>
      <h1> Restablecer contraseña</h1>          
    </div> 

    <div class="contenedorCampoTexto">
      <label>Ingrese el código de recuperación</label>
      <input type="text" formControlName="codigoRecuperacion" placeholder="" />
      <div *ngIf="newPassForm.get('codigoRecuperacion')?.invalid && newPassForm.get('codigoRecuperacion')?.touched" class="alert alert-danger">
        El código es requerido 
      </div> 

      <label>Ingrese la contraseña nueva</label>
      <input type="text" formControlName="nuevaPassword" placeholder="" />
      <div *ngIf="newPassForm.get('nuevaPassword')?.invalid && newPassForm.get('nuevaPassword')?.touched" class="alert alert-danger">
        La contraseña es obligatoria, entre 7 y 10 caracteres.
      </div>

      <label>Confirma la nueva contraseña</label>
      <input type="text" formControlName="confirmarPassword" placeholder="" />
      <div *ngIf="newPassForm.get('confirmarPassword')?.invalid && newPassForm.get('confirmarPassword')?.touched" class="alert alert-danger">
        Debes confirmar tu contraseña.
      </div>

    <!-- Validación de contraseñas iguales -->
      <div *ngIf="newPassForm.hasError('passwordsMismatch') && newPassForm.touched" class="alert alert-danger">
        Las contraseñas no coinciden.
      </div>
     </div> 

    <div>
      <button type="button" class="btnRestablecer" (click)="reestablecer()">Restablecer</button>
    </div>
  </div>
</div>
</form>