<div class="contenedorPrincipal">
    <div class="contenedor">
        <div class="recuperarPassword">
            <img src="LogoShieldUQ.png" class="logo"/>
            <h1> Restablecer contraseña</h1>          
        </div> 
        <div class="contenedorCampoTexto">
            <label>Ingrese la contraseña nueva</label>
            <input type="text" formControlName="nuevaPassword" placeholder="" />
            <label>Confirma la nueva contraseña</label>
            <input type="text" formControlName="confirmarPassword" placeholder="" />
        </div>
        <div>
            <button type="button" class="btnRestablecer">Restablecer</button>
        </div>
    </div>

</div>

