<div class="profile-container">
    <div class="sidebar">
        <img src="https://via.placeholder.com/100" alt="Foto de perfil" class="profile-image">

       <div class = "menu-potions">


            <button class="btn reports" (click)="goToMyReports()">
            <i class="icon">📄</i> Mis reportes
            </button>


        </div>
    </div>

    <div class="profile-edit">
        <h2>Información del usuario</h2>

        <form [formGroup]="editForm" (ngSubmit)="saveChanges()">
            <div class="form-row">
            <label for="nombre">Nombre del usuario:</label>
            <input type="text" id="nombre" formControlName="name"  />
            </div>

            <div class="form-row">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email"  />
            </div>

            <div class="form-row">
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" formControlName="phone" />
            </div>

            <div class="form-row">
            <label for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad" formControlName="municipality" />
            </div>

            <div class="form-row">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" formControlName="address" />
            </div>

            <div class="form-row">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" value="**********" />
            </div>

            <div class="form-row button-row">
            <button type="submit">Guardar</button>
            </div>
        </form>
     </div>

</div>


