<div class="profile-container">
    <div class="sidebar">
        <img src="https://via.placeholder.com/100" alt="Foto de perfil" class="profile-image">

       <div class = "menu-potions">
            <button class="btn edit">
            <i class="icon">✏️</i> Editar perfil
            </button>

            <button class="btn reports">
            <i class="icon">📄</i> Mis reportes
            </button>

            <button class="btn delete">
            <i class="icon">❌</i> Eliminar cuenta
            </button>
        </div>
    </div>

    <div class="profile-edit">
        <h2>Información del usuario</h2>

        <form action="#" method="post">
            <div class="form-row">
            <label for="nombre">Nombre del usuario:</label>
            <input type="text" id="nombre" name="nombre" value="Shield UQ" />
            </div>

            <div class="form-row">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="shield@email.com" />
            </div>

            <div class="form-row">
            <label for="telefono">Teléfono:</label>
            <input type="tel" id="telefono" name="telefono" value="0123456789" />
            </div>

            <div class="form-row">
            <label for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad" name="ciudad" value="Mi ciudad" />
            </div>

            <div class="form-row">
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" value="Calle #123" />
            </div>

            <div class="form-row">
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" value="**********" />
            </div>

            <div class="form-row button-row">
            <button type="submit">Guardar</button>
            </div>
        </form>
     </div>

</div>


