<header class="header">
  <div class="header-container">
    <a routerLink="/administrador" class="logo">
      <img src="ShieldMinimalista.png" alt="Logo Shield UQ" class="logo-img" />
      <span class="logo-title">{{ title }}</span>
    </a>

    
    <nav class="nav-menu">
      <a routerLink="/administrador" class="nav-link">Inicio</a>
      <a routerLink="/gestion-reportes" class="nav-link">Gestión reportes</a>
      <a routerLink="/gestion-categorias" class="nav-link">Gestión categorías</a>
      <a routerLink="/gestion-reportesadmin" class="nav-link">Gestión reportes Pendientes</a>
      <a routerLink="/login" class="nav-link">Cerrar sesión</a>
    </nav>
  </div>
</header>